.main {
  display: flex;
  min-height: 100svh;
  flex-direction: column;
}

.land {
  background-color: rgba(0, 0, 0, 0.57);
  width: 100%;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  height: 100vh;
  z-index: 1;
}

.headerSpace {
  height: 100px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: calc(100% - 100px);
}

.imageWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.titleBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font-playfair-display);
}

.titleBox > h1 {
  margin: 0px;
  padding: 0px;
}

.titleBox > h1:first-child {
  font-size: 1.2rem;
  font-weight: 400;
  color: #fdcba3;
  line-height: 0px;
}

.titleBox > h1:nth-child(2) {
  font-size: 3rem;
  font-family: var(--font-playfair-display);
  color: white;
  font-weight: 600;
  letter-spacing: 8px;
}

.titleBox > h1:last-child {
  font-family: var(--font-josefin-slab);
  color: #fdcba3;
  font-weight: 400;
}
.titleBox > h1:nth-child(3) {
  font-size: 1rem;
}

@media (min-width: 425px) {
  .titleBox > h1:first-child {
    font-size: 1.4rem;
  }

  .titleBox > h1:nth-child(2) {
    font-size: 4rem;
  }
}

@media (min-width: 768px) {
  .titleBox > h1:first-child {
    font-size: 1.7rem;
  }

  .titleBox > h1:nth-child(2) {
    font-size: 7rem;
  }
}

@media (min-width: 1440px) {
  .titleBox > h1:first-child {
    font-size: 2.5rem;
  }

  .titleBox > h1:nth-child(2) {
    font-size: 10rem;
  }
}
